<% if (user_signed_in?) and !(username_signed_in?) %>
  <% if (user_signed_in?) %><% idreg1 = current_user.id %><% end %>
  <h1>Статистика</h1>
  <% userencrypted = current_user.encrypted_password %>
  <% stattest2, statactiv, statstop = 0, 0, 0 %>

  <% unless $all_task_creat.get userencrypted + "all_test_tesk" %>
    <% if @statisticscreator %>
      <% if @statisticscreator.test %>
        <% stattest = @statisticscreator.test %>
        <% stattest2 = stattest.size %>
      <% else %>
        <% stattest2 = 0 %>
      <% end %>
    <% else %>
      <% stattest2 = 0 %>
    <% end %>
    <% all_test_tesk = userencrypted + "all_test_tesk" %>
    <% $all_task_creat.set all_test_tesk, @statisticscreator.test.size %>
    <% $all_task_creat.expire all_test_tesk, 86400 %>
  <% else %>
    <% stattest2 = $all_task_creat.get userencrypted + "all_test_tesk" %>
  <% end %>

  <% unless $all_task_creat.get userencrypted + "all_test_tesk_activ" %>
    <% if Topic.find_by(idreg: idreg1) %>
        <% statactiv = Topic.where(idreg: idreg1, activ: "Вкл.").count %>
    <% end %>
      <% all_test_tesk_activ = userencrypted + "all_test_tesk_activ" %>
      <% $all_task_creat.set all_test_tesk_activ, Topic.where(idreg: idreg1, activ: "Вкл.").count %>
      <% $all_task_creat.expire all_test_tesk_activ, 86400 %>
    <% else %>
      <% statactiv = $all_task_creat.get userencrypted + "all_test_tesk_activ" %>
  <% end %>

  <% unless $all_task_creat.get userencrypted + "all_test_tesk_stop" %>
    <% if Topic.find_by(idreg: idreg1) %>
        <% statstop = Topic.where(idreg: idreg1, activ: "Выкл.").count %>
    <% end %>
      <% all_test_tesk_stop = userencrypted + "all_test_tesk_stop" %>
      <% $all_task_creat.set all_test_tesk_stop, Topic.where(idreg: idreg1, activ: "Выкл.").count %>
      <% $all_task_creat.expire all_test_tesk_stop, 86400 %>
    <% else %>
      <% statstop = $all_task_creat.get userencrypted + "all_test_tesk_stop" %>
  <% end %>
  <div class="row">
    <div class="col-lg-6">
      <table class="borderdiv">
        <tr>
          <td>
              <h4 class = "statisticscolor">Создано за все время</h4><p>Тестовые задания: <%= stattest2 %></p>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-lg-6">
      <table class="borderdiv">
        <tr>
          <td>
            <h4 class = "statisticscolor">Активные</h4><p>Тестовые задания: <%= statactiv %></p>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <table class="borderdiv">
        <tr>
          <td>
            <h4 class = "statisticscolor">Архив</h4><p>Тестовые задания: </p>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-lg-6">
      <table class="borderdiv">
        <tr>
          <td>
            <h4 class = "statisticscolor">Остановленные</h4><p>Тестовые задания: <%= statstop %></p>
          </td>
        </tr>
      </table>
    </div>
  </div>
<% end %>
