<% if (username_signed_in?) %>
  <% idregvis = current_username.id %>
  <% userencrypted = Username.find_by(id: idregvis).encrypted_password %>
  <% contact = Contact.where(idvisitor: idregvis) %>
  <% view_profile = Statisticvisitor.where(idregvis: idregvis) %>

  <% unless $all_statistic_visitors.get userencrypted + "contact" %>
    <% contact_count = userencrypted + "contact" %>
    <% $all_statistic_visitors.set contact_count, contact.count %>
    <% $all_statistic_visitors.expire contact_count, 28800 %>
  <% else %>
    <% contact_statistic = $all_statistic_visitors.get userencrypted + "contact" %>
  <% end %>

  <% unless $all_statistic_visitors.get userencrypted + "view" %>
    <% view_visitor = userencrypted + "view" %>
    <% $all_statistic_visitors.set view_visitor, view_profile.count %>
    <% $all_statistic_visitors.expire view_visitor, 28800 %>
  <% else %>
    <% view_statistic = $all_statistic_visitors.get userencrypted + "view" %>
  <% end %>

  <% unless $all_statistic_visitors.get userencrypted + "view_week" %>
    <% if Statisticvisitor.find_by(idregvis: idregvis) %>
      <% created_statisticvisitor = Statisticvisitor.find_by(idregvis: idregvis).created_at %>
      <% time_current = Time.new %>
      <% time_week = Time.new - 86400 %>
      <% statistic_week = Statisticvisitor.where(idregvis: idregvis, created_at: time_week..time_current).count %>
      <% if Statisticvisitor.first.created_at < time_week %>
        <% Statisticvisitor.first.destroy %>
      <% end %>
    <% end %>
    <% view_visitor_week = userencrypted + "view_week" %>
    <% $all_statistic_visitors.set view_visitor_week, statistic_week %>
    <% $all_statistic_visitors.expire view_visitor_week, 28800 %>
  <% else %>
    <% view_statistic_week = $all_statistic_visitors.get userencrypted + "view_week" %>
  <% end %>

  <h1>Статистика</h1>
  <div class="row">
    <div class="col-6">
      <table class="borderdiv">
        <tr>
          <td>
            <h4 class = "statisticscolor">Контакты</h4>
            <p>Вас добавили в контакты: <%= contact_statistic ||= contact.count  %></p>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-6">
      <table class="borderdiv">
        <tr>
          <td>
            <h4 class = "statisticscolor">Просмотры</h4>
            <p>
              Просмотры профиля за неделю: <%= view_statistic ||= view_profile.count %><br>
              Просмотры за последний день: <%= view_statistic_week ||= statistic_week %>
            </p>
          </td>
        </tr>
      </table>
    </div>
  </div>
<% end %>
