<% if (username_signed_in?) %>
  <% idregvis = current_username.id %>
  <% userencrypted = current_username.encrypted_password %>

  <% contact_statistic, view_statistic, view_statistic_week, view_visitor_week = nil %>
  <% statistic_week, view_profile = nil %>
  <% time_current = Time.new %>
  <% time_day = Time.new - 86400 %>
  <% time_week = Time.new - 604800 %>
  <% time_week2 = Time.new - 1209600 %>

  <% unless $all_statistic_visitors.get userencrypted + "contact" %>
    <% contact = Contact.where(idvisitor: idregvis) %>
    <% contact_count = userencrypted + "contact" %>
    <% $all_statistic_visitors.set contact_count, contact.count %>
    <% $all_statistic_visitors.expire contact_count, 28800 %>
  <% else %>
    <% contact_statistic = $all_statistic_visitors.get userencrypted + "contact" %>
  <% end %>

  <% unless $all_statistic_visitors.get userencrypted + "view" %>
    <% view_profile = Statisticvisitor.where(idregvis: idregvis, created_at: time_week..time_current) %>
    <% view_visitor = userencrypted + "view" %>
    <% $all_statistic_visitors.set view_visitor, view_profile.count %>
    <% $all_statistic_visitors.expire view_visitor, 28800 %>
    <% statistic_day = Statisticvisitor.where(idregvis: idregvis, created_at: time_day..time_current) %>
    <% view_visitor_day = userencrypted + "view_day" %>
    <% $all_statistic_visitors.set view_visitor_day, statistic_day.count %>
    <% $all_statistic_visitors.expire view_visitor_day, 28800 %>
    <% Statisticvisitor.destroy_by(created_at: time_week2..time_week) %>
  <% else %>
    <% view_statistic = $all_statistic_visitors.get userencrypted + "view" %>
    <% view_statistic_day = $all_statistic_visitors.get userencrypted + "view_day" %>
  <% end %>

  <h1>Статистика</h1>
  <div class="row">
    <div class="col-6">
      <table class="borderdiv">
        <tr>
          <td>
            <h4 class = "statisticscolor">Контакты</h4>
            <p>Вас добавили в контакты: <%= contact_statistic ||= contact.count  %></p>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-6">
      <table class="borderdiv">
        <tr>
          <td>
            <h4 class = "statisticscolor">Просмотры</h4>
            <p>
              Просмотры профиля за неделю: <%= view_statistic ||= view_profile.count %><br>
              Просмотры за последний день: <%= view_statistic_day ||= statistic_day.count %>
            </p>
          </td>
        </tr>
      </table>
    </div>
  </div>
<% end %>
