/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 body {
   background-color: #2f343a;
   /* Цвет фона веб-страницы */
   margin: 0;
   padding: 0;
 }

 header {
   margin: 0;
   padding: 0;
   background-color: #1a1f23;
 }

 footer {
   margin: 0;
   padding: 0;
   background-color: #2f343a;
 }

 #logo {
   padding-left: 25px;
   color: #fff;
   padding-top: 6px;
 }

 #registrationform {
   padding-right: 25px;
   color: #fff;
   padding-top: 6px;
   text-align: right;
 }

.reg {text-decoration: none; color: #fff;}
.reg:hover {color: #ff0000; text-decoration: none;}
.disnone {display: none;}
.dsnone {display: none;}
.buttonname:hover {color: #ff0000; text-decoration: none; cursor: pointer;}
.buttomout:hover {color: #ff0000; text-decoration: none; cursor: pointer;}
.redicon {color: #fd4622;}
.greenicon {color: #1ea076;}
.borderquestabl {border-bottom: 1px; border-bottom-style: solid; border-bottom-color: #9ea1a5;}
.tbl-answer {padding-top: 6px; padding-bottom: 6px; background-color: #dee2e9; border-bottom: 2px; border-bottom-style: solid; border-bottom-color: #fff;}
.out {padding-left: 12px;}
.w100 {width: 100%;}
.backgroundtabl {width: 100%; background-color: #dee2e9;}
.w260 {width: 160px;}
.right-element {text-align: right;}
.photousertabls {padding-top: 2px; padding-bottom: 10px; padding-right: 20px;}
.answ {margin-bottom: 12px;}
.spanansw {background-color: #ced2d8; width: 100%; padding: 2px 10px; border-radius: 5px; border-width: 1px; border-color: #ced2d8; border-style: solid;}
.spanansw:hover {border-width: 1px; border-color: #1ea076; border-style: solid;}
.hid {display: none;}
.but-hid {display: none;}
.link-for-copy {background-color: #e9fbc7; padding: 4px;}
.link-for-copy-red {background-color: #fdc8c8; padding: 4px;}
.hidid {display: none;}
.addid {margin-top: 8px;}
.addidhid {display: none;}
.topinfoblock {text-align: right;}
.formerrors {color: red}
.timeout {margin-bottom: 20px;}
.imgquestion {margin-bottom: 20px;}
.pluscontact {color: #007bff}
.pluscontact:hover {color: #0069d9}
.linkscount {background-color: #1ea076; padding-left: 4px; padding-right: 4px; padding-bottom: 1px; border-radius: 8px; margin-left: 4px; font-size: 10px;}
#addbut {width: 32%; margin-left: 34%; margin-top: 10px}
#click-to-copy {margin-left: 3px;}
#topic_rand, #topic_activ, #visitor_sex, #linktask_topicid, #linktask_userid {width: 100%; height: 30px}
.inputphotocreator {margin-top: 10px;}
.noavatarka, .formswrapper {margin-top: 20px; margin-bottom: 20px;}
.personaldata {margin-top: 20px;}
.notation {color: #535d63; margin-top: 40px;}
.notationpravila {color: #535d63; margin-top: 20px; margin-bottom: 10px;}
.topic_button {
  margin-top: 12px;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  border-radius: 5px;
}

.topic_button:hover {
  margin-top: 12px;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  border-radius: 5px;

}

label, .statisticscolor {
  color: #535d63; font-weight: bold;
}

form {
  margin-top: 16px;
}

 #right-colon {
   padding-top: 10px;
   background-color: #2f343a;
   color: #fff;
 }

 #right-colon-footer {
   padding-top: 15px;
   padding-right: 20px;
   background-color: #2f343a;
   color: #fff;
   text-align: right;
 }

 #left-colon {
   padding: 15px 25px 25px 35px;
 }

 .field_with_errors input {
border-color: #ff0000
 }

 .field_with_errors textarea {
border-color: #ff0000
 }

 #left-colon-footer {
   padding: 15px 25px 25px 35px;
   color: #fff;
 }

 .razdelitel {
   border-color: #707983;
 }

 .otstup {
   padding-right: 16px;
 }
.aut {color: #fff;}

#main {min-height: 630px;}

 .feedback-button {
   display: block;
   width: 130px;
   text-decoration: none;
   text-align: center;
   padding: 25 px;
   background-color: #1a1f23;
   color: #fff;
 }

 .feedback-button:hover {
   color: #ff0000;
   text-decoration: none;
 }

 .menu-r-link {
   text-decoration: none;
   text-align: center;
   padding: 25 px;
   color: #fff;
 }

 .menu-r-link:hover {
   color: #ff0000;
   text-decoration: none;
 }

 .tbl-gl {
   width: 100%;
 }

 table.tbl-gl td {
   vertical-align: top;
 }

 table.tbl-gl td i {
   padding-top: 4px;
 }

 #main {
   padding: 0px;
   border-left: 20px #2f343a solid;
   border-right: 20px #2f343a solid;
   border-top: 20px #2f343a solid;
 }

 #r-menu {
   margin: 0;
   padding: 0;
   list-style-type: none;
 }

 #navbar ul {
   display: none;
   background-color: #f90;
   position: absolute;
   top: 100%;
 }

 #navbar li:hover ul {
   display: block;
 }

 #navbar, #navbar ul {
   margin: 0;
   padding: 0 px;
   list-style-type: none;
 }

 #navbar {
   height: 40px;
   padding-left: 5px;
   min-width: 370px;
 }

 #navbar li {
   float: left;
   position: relative;
   height: 100%;
 }

 #navbar li a {
   display: block;
   padding: 6px;
   width: 120px;
   color: #fff;
   text-decoration: none;
   text-align: center;
 }

 #navbar ul li {
   float: none;
 }

 #navbar li:hover {
   background-color: #ff0000;
 }

 #navbar ul li:hover {
   background-color: #666;
 }
