// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$tabl-border-color: #9ea1a5;

.task-tabl {width: 100%;}
.gl-zag-tabl {background-color: #2f343a; color: #fff;;}
.zag-tabl {background-color: #ced2d8; border-bottom: 1px; border-bottom-style: solid; border-bottom-color: $tabl-border-color;}
.questabl {background-color: #e5e9ef; display: none;}
tr, td, th {padding: 5px;}
.div-line {display:inline-flex;}
.div-line i {padding: 12px;}
.div-line-small i {padding: 6px;}
.answer {border-bottom: 1px; border-bottom-style: solid; border-bottom-color: $tabl-border-color;}
.zag-tabl:hover {background-color: #dee2e9;}
.zag-tabl:active {background-color: #ced2d8;}
.borderdiv {border: 1px; border-color: #e5e9ef;border-style: solid; width: 100%; margin-top: 10px; margin-bottom: 10px; }
