<p><strong>Email: </strong><%= current_username.email %></p>
<hr>
<p><strong>Id пользователя: </strong><%= current_username.id %></p>
<hr>
<p><strong>Зарегистрирован: </strong><%= current_username.created_at.time.strftime("%d-%m-%Y") %></p>
<hr>
