<p><strong>Email: </strong><%= current_user.email %></p>
<hr>
<p><strong>Id пользователя: </strong><%= current_user.id %></p>
<hr>
<p><strong>Зарегистрирован: </strong><%= current_user.created_at.time.strftime("%d-%m-%Y") %></p>
<hr>
