<% if (username_signed_in?) %>
  <% userencrypted = current_username.encrypted_password %>
  <% link_user = userencrypted + "link" %>
  <% link = nil %>
  <% $linktask_user = Redis.new %>

  <% unless $linktask_user.get link_user %>
    <% linktask = Linktask.where(userid: current_username.id, viewlinks: nil).count %>
    <% $linktask_user.set link_user, linktask %>
    <% $linktask_user.expire link_user, 172800 %>
    <% link = $linktask_user.get link_user %>
  <% else %>
    <% link = $linktask_user.get link_user %>
  <% end %>

  <div class="col-3" id="right-colon">
    <p>Баланс:</p>
    <hr class="razdelitel">
    <p>Тариф:</p>
    <hr class="razdelitel">
    <p>Бонусы:</p>
    <hr class="razdelitel">
    <p>Осталось дней:</p>
    <hr class="razdelitel">
    <p><a class="menu-r-link"href="/test_task/">Тестовые задания</a></p>
    <hr class="razdelitel">
    <p class="addlink">
      <a class="menu-r-link" data-turbolinks="false" href="/links/">Ссылки</a>
      <% if link != "0" %>
        <sup>
          <span class="linkscount">
            <%= link %>
          </span>
        </sup>
      <% end %>
    </p>
    <hr class="razdelitel">
    <p>Опросы</p>
    <hr class="razdelitel">
    <ul id="r-menu">
    <li><a class="menu-r-link"href="#">Пополнить баланс</a></li>
    <hr class="razdelitel">
    <li><a class="menu-r-link"href="#">Сменить тариф</a></li>
    <hr class="razdelitel">
    <li><a class="menu-r-link"href="/profilevisitor/">Профиль</a></li>
    <hr class="razdelitel">
    <li><a class="menu-r-link"href="/statisticvisitors/">Статистика</a></li>
    <hr class="razdelitel">
    <li><a class="menu-r-link"href="#">Настройки</a></li>
    <hr class="razdelitel">
    </ul>
  </div>
<% end %>
