<% if (user_signed_in?) %>
  <div class="col-3" id="right-colon">
    <p>Баланс:</p>
    <hr class="razdelitel">
    <p>Тариф:</p>
    <hr class="razdelitel">
    <p>Бонусы:</p>
    <hr class="razdelitel">
    <p>Осталось дней:</p>
    <hr class="razdelitel">
    <p>Создано заданий:</p>
    <hr class="razdelitel">
    <ul id="r-menu">
    <li><a class="menu-r-link"href="#">Пополнить баланс</a></li>
    <hr class="razdelitel">
    <li><a class="menu-r-link"href="#">Сменить тариф</a></li>
    <hr class="razdelitel">
    <li><a class="menu-r-link"href="/topics/">Тестовые задания</a></li>
    <hr class="razdelitel">
    <li><a class="menu-r-link"href="/profile/">Профиль</a></li>
    <hr class="razdelitel">
    <li><a class="menu-r-link"href="/statisticscreators/">Статистика</a></li>
    <hr class="razdelitel">
    <li><a class="menu-r-link"href="/contacts/">Контакты</a></li>
    <hr class="razdelitel">
    <li><a class="menu-r-link"href="#">Настройки</a></li>
    <hr class="razdelitel">
    </ul>
  </div>
<% end %>
